---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/sections/Footer.astro";
import { getCollection } from "astro:content";
const allProjects = await getCollection("projects", ({ data }) => {
  return data.featured === false;
});
const featuredProjects = await getCollection("projects", ({ data }) => {
  return data.featured === true;
});

allProjects.sort((a, b) => {
  return Number(new Date(b.data.date)) - Number(new Date(a.data.date));
});

featuredProjects.sort((a, b) => {
  return Number(new Date(b.data.date)) - Number(new Date(a.data.date));
});

const totalProjects = allProjects.length + featuredProjects.length;
---

<Layout
  title="Projektübersicht"
  description="Alle Softwareprojekte von Tim Buser"
>
  <section class="scroll-py-12 space-y-6">
    <div>
      <h1 class="text-3xl text-primary">Alle Projekte</h1>
      <h2 class="text-3xl text-secondary">
        {totalProjects} Projekte insgesamt
      </h2>
    </div>
  </section>

  <section class="space-y-3">
    <h2 class="font-serif text-xl font-medium italic text-primary">
      Ausgewählte Projekte
    </h2>

    {
      featuredProjects.map((featured) => (
        <div class="rounded-md py-4 transition-all duration-300 sm:-translate-x-4 sm:px-4 sm:hover:bg-secondaryLight">
          <a href={"/projects/" + featured.slug}>
            <p class="text-primary">{featured.data.title}</p>
            <p class="inline-flex items-center font-medium text-gray-500 dark:text-gray-400">
              {featured.data.description}{" "}
              <svg
                class="ms-2 h-4 w-4 rtl:rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.25"
                  d="M1 5h12m0 0L9 1m4 4L9 9"
                />
              </svg>
            </p>
          </a>
        </div>
      ))
    }
  </section>

  <section class="space-y-3">
    <h2 class="font-serif text-xl font-medium italic text-primary">
      Restliche Projekte
    </h2>
    {
      allProjects.map((project) => (
        <div class="rounded-md py-4 transition-all duration-300 sm:-translate-x-4 sm:px-4 sm:hover:bg-secondaryLight">
          <a href={"/projects/" + project.slug}>
            <p class="text-primary">{project.data.title}</p>
            <p class="inline-flex items-center font-medium text-gray-500 dark:text-gray-400">
              {project.data.description}{" "}
              <svg
                class="ms-2 h-4 w-4 rtl:rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.25"
                  d="M1 5h12m0 0L9 1m4 4L9 9"
                />
              </svg>
            </p>
          </a>
        </div>
      ))
    }
  </section>
  <Footer />
</Layout>
